.header {
  background: #218cd9;
  margin-bottom: 1.45rem;
  padding: 1.45rem 1.0875rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconLink {
  width: 45px;
}

.iconLink:hover {
  background-color: #ad4edf;
  border-radius: 12px;
}
