.infoPage {
  background-color: #e8f1ff;
  max-width: 800px;
  padding: 20px 20px 0;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.badge {
  margin-bottom: 20px;
  opacity: 0.8;
}

.badge:hover {
  margin-bottom: 20px;
  opacity: 1;
}
